h2{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 10px 10px 10px;
    height: 50px;
    box-sizing: border-box;
}
.channel-button{
    background-color: white;
}
#channel-button{
    background-color: white;
}
#selected-one{
    border-left: 3px solid #4347C2;
    color: #4347C2;
}
