#new-button{
    color: #4347C2;
    border-bottom: 4px solid #4347C2;
}
.tab-button{
    font-size: 13px;
    background-color: white;
    height: 72px;
    width: 33%;
    border-bottom: 16px;
    border-top: 16px;
    border-right: 16px;
    border-left: 16px;
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.icon{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
div p {
    margin-top: 4px;
    margin-bottom: 0px;
}